
{% comment %}
  Data details.
  Showing the detailed support for each version of each client of each family.
{% endcomment %}
	<div class="data-details">
		<div class="data-family-list">
			{% assign page-families-in-order = "" | split: '' %}
			{% assign site-families-in-order = include.family | sort: "display_order" %}
			{% comment %}
				1. We go through the `clients` collection ordered by `display_order`.
				We add the family slug to the page family array.
			{% endcomment %}
			{% for family in site-families-in-order %}
				{% assign family-key = family.slug %}
				{% assign page-families-in-order = page-families-in-order | push: family-key %}
			{% endfor %}
			{% comment %}
				2. We go through the page/feature `stats` and add all the keys.
			{% endcomment %}
			{% assign page-stats-keys = "" | split: '' %}
			{% for default in page[include.stats_key] %}
				{% assign family-key = default | first %}
				{% if page[include.stats_key][family-key].size > 0  %}
					{% assign page-stats-keys = page-stats-keys | push: family-key %}
				{% endif %}
			{% endfor %}
			{% comment %}
				3. Previous step might introduce duplicate. So we `concat` the two previous arrays built and use the `uniq` filter to remove duplicates.
			{% endcomment %}
			{% assign page-families-in-order = page-families-in-order | concat: page-stats-keys | uniq %}
			{% comment %}
				4. Let's start the loop!
			{% endcomment %}
			{% for family in page-families-in-order %}
				{% assign family-key = family %}
				{% assign family-values = page[include.stats_key][family] %}
			<div class="data-family data-family--{{family-key}}" id="data-{{ page.title | slugify }}-{{ family-key }}">
				<h3 class="data-family-name">
					<span>
						{% assign family-page = include.family | where:"slug", family-key | first %}
						{% if family-page != nil and family-page != "" %}
						<a href="{{ "/{{include.family-path}}/{{family-key}}/" | relative_url }}">
						{% endif %}
						{{ include.nicenames[family-key] | default: family-key }}
						{% if family-page != nil and family-page != "" %}
						</a>
						{% endif %}
					</span>
				</h3>
				<div class="data-client-list">
					{% for platform in family-values %}
						{% assign platform-key = platform | first %}
						{% assign platform-values = platform | last %}
						<div class="data-client data-client--{{ platform-key | slugify }}">
							<h4 class="data-platform-name">
								{% if family-page != nil and family-page != "" %}
								<a href="{{ "/{{include.family-path}}/{{family-key}}/#{{ platform-key | slugify }}" | relative_url }}">
								{% endif %}
								{{ site.data.nicenames.platform[platform-key] | default: platform-key }}
								{% if family-page != nil and family-page != "" %}
								</a>
								{% endif %}
							</h4>
							<div class="data-versions-list">
							{% for version in platform-values %}
								{% assign version-key = version | first %}
								{% assign version-values = version | last | split: ' ' | first %}
								{% assign version-notes = version | last | split: ' ' | shift %}
								{% case version-values %}
									{% when 'y' %}
										{% assign stat-class-name = 'supported' %}
									{% when 'n' %}
										{% assign stat-class-name = 'unsupported' %}
									{% when 'a' %}
										{% assign stat-class-name = 'mitigated' %}
									{% when 'u' %}
										{% assign stat-class-name = 'unknown' %}
									{% else %}
										{% assign stat-class-name = '' %}
								{% endcase %}
								<div class="data-version {{ stat-class-name }}">
									<span class="data-version-number">{{ version-key }}</span>
									<span class="data-version-badge {{ stat-class-name }}" aria-label="{{ site.data.nicenames.support[stat-class-name] }}"></span>
									{% if version-notes.size > 0  %}
										<div class="data-version-notes">
										{% for note-key in version-notes %}
											{% assign note-key-slug = note-key | slugify %}
											<a href="#{{ page.title | slugify }}-cite-note-{{ note-key-slug }}" title="{{ page.footnotes[note-key-slug] | markdownify | strip_html }}">{{ note-key | replace: '#', '' }}</a>
										{% endfor %}
										</div>
									{% endif %}
								</div>
							{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>