---
layout: default
---
<section class="feature">
	<header class="feature-header">
		<div class="feature-header-column">
			<h1 class="feature-title">{{ page.title | escape_once }}</h1>
      {% for k in page.keywords %}
        {{k}}
      {% endfor %}
			<div class="feature-description">
				{{ page.description | markdownify }}
			</div>
		</div>
		<div class="feature-header-column">
      <div>
        {% if page.client_stats %}
          {% include feature-support.html title="Client" stats=page.client_stats nicenames=site.data.nicenames.client %}
        {% endif %}
        {% if page.server_stats %}
          {% include feature-support.html title="Server" stats=page.server_stats nicenames=site.data.nicenames.server %}
        {% endif %}
      </div>
		</div>
	</header>
	<div class="filters">
		<button type="button" class="filter-button filter-apply-button filter-button--active">Apply settings</button>
		<button type="button" class="filter-button filter-unapply-button">Show all</button>
	</div>
	{% include feature-body.html feature=page %}
	<footer class="feature-footer">
		<div class="data-contribute">
			<h2 class="list-title">Know something we don't?</h2>
			<p>
				Is any of the above data outdated? Or do you want to add a new Matrix Client to the list? Heads on to GitHub and edit the data file!
			</p>
			<div class="button-group">
				<a href="{% github_edit_link %}" class="button">Edit this page on GitHub</a>
				<a href="{{ site.github.issues_url }}" class="button">Report an issue on GitHub</a>
			</div>
			<p>
				Not comfortable with GitHub? <a href="mailto:feature@caniemail.com?subject=[caniemail]%20{{ include.feature.id | uri_escape }}">Send us an email</a> or <a href="https://www.twitter.com/caniemail">get in touch on Twitter</a>.
			</p>
		</div>
	</footer>
</section>
